@charset "UTF-8";
body {
  background-image: url("../ressources/header.jpg");
  background-size: contain;
  background-position: center -225px;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body::-webkit-scrollbar {
  color: transparent;
  background-color: transparent;
  width: 0px;
}

main {
  position: relative;
  margin-top: -100px;
  background-color: #ececee;
  min-height: 700px;
}

.bloc-total-recettes {
  position: absolute;
  top: 25px;
  right: 80px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
}

/*container tri par ingrédients, appareils et ustensibles*/
.search-options-container {
  display: flex;
  padding-top: 15px;
  margin-left: 115px;
  margin-bottom: 20px;
}

/*bloc tri*/
.select-form {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  width: 195px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.select-form.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.open-form-select {
  display: none;
  position: absolute;
  z-index: 999;
  width: 195px;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.open-form-select.active {
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 285px;
}

/*personnalise la largeur de la barre de défilement*/
.open-form-select::-webkit-scrollbar {
  color: transparent;
  background-color: transparent;
  width: 0px;
}

.select-form-title {
  position: relative;
  padding-top: 15px;
  padding-left: 10px;
  font-weight: 600;
}

.select-form-icon {
  position: absolute;
  top: 50%;
  right: 15px;
}

/*container input*/
.search-container {
  display: flex;
  margin-bottom: 10px;
}

/*input search container*/
.search-input {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 10px;
  width: 85%;
  height: 35px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-input:focus-visible {
  outline: none;
}

.icon {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
}

.search-icon {
  top: 6px;
  right: 25px;
}

.clear-icon {
  top: 3px;
  right: 50px;
  color: #999;
  display: none;
  font-size: 20px;
}

/*option du selectForm*/
.select-form option {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: 600;
}

.select-form option:hover {
  background-color: #FFD15B;
}

.option-clicked {
  background-color: #FFD15B;
  position: relative;
  font-weight: 700;
}

.option-clicked::after {
  position: absolute;
  padding: 10px;
  top: 13px;
  right: 5px;
  height: 25px;
  width: auto;
  transform: translateY(-50%);
  content: url("../ressources/closeOption.png");
}

/*tag container*/
.tag-container-search-options {
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*tag élément*/
.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 203px;
  height: 53px;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #FFD15B;
}

.remove-tag {
  font-size: 30px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
